.form{
  width: 58vw;
}

.header {
    background-color: #f56565;
    padding: 1rem;
  }
  
  
  .header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    color: black;
  }
  
  .content {
    padding: 1rem;
    margin-left: 2.4rem;
  }
  
  .formControl {
    margin-bottom: 1rem;
  }
  
  .formControl input,
  .formControl label {
    display: flex;
  }
  
  .formControl label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 0.9rem;
    padding: 0.4rem;
    font-size: 1.5rem;
  }
  
  .formControl input,
  .formControl select {
    font: inherit;
    padding: 0.5rem;
    margin-left: 1.4rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 45vw;
    max-width: 100%;
  }
  
  .formControl input:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
  }
  
  .buttonAlign{
      display:flex;
      justify-content: center;
      align-items: center;
      
  }
  
  .invalid input {
    border: 1px solid #b40e0e;
    background-color: #a81818;
  }
  
  .invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
  }
  
  .errorText {
    color: #b40e0e;
    text-align: center;
  }
  
