.headers{
    padding: 10px;
    border-bottom: 2px solid rgb(239 68 68);;
    /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
}

@media only screen and (max-width: 768px) {
  .headers {
      border: none;
    }
}

.inputsearch {
  border: 2px solid rgb(239 68 68);;
  border-left: 2px solid rgb(239 68 68);;
  border-right:none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 6px;
  width: 100%;
  outline: none;
}
@media only screen and (max-width: 768px) {
    .inputsearch {
        padding: 6px;
      }
  }

.collectionnavbar{
    /* padding-inline: 20px; */
    margin-top: 10px;
}
  @media only screen and (min-width: 769px) {
    .collectionnavbar {
       display: none;
      }
  }

  @media only screen and (max-width: 769px) {
    .collections {
       display: none;
      }
  }


.btn1{
    font-size: 18px;
    background-color:rgba(255, 255, 255, 0);
    max-width:300px;
    padding: 5px 20px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
    transition: ease-out 0.5s;
    outline:  none;
    margin-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1:hover{
    color:white;
    background-color: rgb(239 68 68);;
    box-shadow: inset 150px 0 0 0 rgb(255, 87, 87);
}



.btnsearch{
    background-color: rgb(239 68 68);;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
    width: 100px;
    outline: none;
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
    transition: ease-out 0.5s;
    outline:  none;
}

.btnsearch:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: inset 150px 0 0 0 rgb(0, 0, 0);
}
